body {
    width: 100%;
    color: #323648;
    background: #fff;
    border-top: 10px solid #00cc99;
    font-family: Helvetica;
    margin: 0;
}

a {
    text-decoration: none;
    color: #00cc99;
}

a:hover { color: #009a74 }

a:visited { color: #757575 }

section {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 2.5rem
}

h2,
h1 { font-weight: 800 }

h1 { font-size: 3.125rem }

h2 { font-size: 2rem }

li,
p {
    line-height: 1.9;
    font-size: 1.5rem;
}